ErrorDocument 400 /erro.php
ErrorDocument 401 /erro.php
ErrorDocument 403 /erro.php
ErrorDocument 404 /erro.php
ErrorDocument 500 /erro.php
# REMOVE PHP FROM URL
# REMOVE PHP EXTENSION
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]